.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .collapse {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar .collapse .items {
    display: flex;
    flex-direction: column;
}

.navbar .collapse .items .item .link {
    padding: 1rem;
}

@media (min-width: 720px) {
    
}